[user]
	name = TabulateJarl8
	email = tabulatejarl8@gmail.com
	signingkey = /home/tabulate/.ssh/id_ed25519.pub
[pull]
	rebase = true
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /opt/flutter

[includeIf "gitdir:~/src/cs361/"]
	path = ~/school/sophomore/sem2/cs361/.gitconfig
[gpg]
	format = ssh
[commit]
	gpgsign = true
