[user]
	name = TabulateJarl8
	email = tabulatejarl8@gmail.com
	signingkey = 3E32717A698B5D8B
[pull]
	rebase = true
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = /opt/flutter
